/* imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* global : reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global : variables */
:root {
    
    /* global color */
    --black: #000;
    --white: #FFF;
    --grey: #8B8B8B;
    --main: #042331;

    /* font family */
    --font-main: 'Raleway', sans-serif;
    /* font-family: 'Raleway', sans-serif; */

    /* heading mobile */
    --h2-mob: 2rem;
    --h3-mob: 1.8rem;
    --h4-mob: 1.6rem;
    --h5-mob: 1.4rem;

    /* --h2-web: ; */
    /* --h3-web: ; */
    /* --h4-web: ; */
    /* --h5-web: ; */

    /* text size */
    --txt-sm: 1.1rem;
    --txt-md: 1.3rem;
    --txt-lg: 1.5rem;

    /* icon size */
    --icon-sm: 1.5rem;
    --icon-md: 1.8rem;
    --icon-lg: 2.0rem;
    
    
    /* spacing */
    --lg: 15%;
    --md: 10%;
    --sm: 5%;
    
    /* overlay */
    --ovl-drk: rgba(0,0,0,0.5);
    --ovl-lgt: rgba(122,122,122,0.5);
    
    /* dev borders */
    --wireframe: 3px solid darkblue;
    --component: 3px dotted darkgreen;
    --debugging: 3px dotted darkred;

}

/* global : page */
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.page main {
    max-width: 1920px;
}

/* global : grid */
header,
section,
main,
footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: 100%;
}

/* global : flex */
.elmnts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--sm);
    height: 100%;
    width: 100%;

    /* dev */
    border: var(--debugging);

}

/* global : headings */
h2 {
    font-size: var(--h2-mob);
}
h3 {
    font-size: var(--h3-mob);
}
h4 {
    font-size: var(--h4-mob);
}
h5 {
    font-size: var(--h5-mob);
}
h2, h3, h4, h5 {
    color: var(--main);
    letter-spacing: 2px;
    padding-bottom: var(--sm);
    text-transform: capitalize;
}

/* global : fonts */
p {
    color: var(--grey);
    font-size: var(--txt-sm);
    letter-spacing: 2px;
    line-height: 1.6;
    padding-bottom: var(--md);
}

/* app */
#app {
    font-family: var(--font-main);
    position: relative;
    min-height: 100vh;
    height: 100%;
}
#app nav {
    grid-column: span 6;
    grid-row: span 2;
}
#app header {
    grid-column: span 6;
    grid-row: span 2;
}
#app section {
    grid-column: span 6;
    grid-row: span 4;
}
#app footer {
    grid-column: span 6;
    grid-row: span 2;
}

/* header : layout */
header .elmnts {
    /* dev */
    border: var(--debugging);
}
header .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
}
header .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;

    justify-content: flex-start;
    align-items: flex-start;
}

/* nav : layout */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    /* dev */
    border: var(--wireframe);
}
/* nav : list */
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    
    /* dev */
    border: var(--component);
}
nav li {
    list-style: none;
    width: 80%;
    
    /* dev */
    border: var(--debugging);
}

/* abo : layout */
#abo .elmnts {
    /* dev */
    border: var(--debugging);
}
#abo .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;

    justify-content: flex-start;
    align-items: flex-start;
}
#abo .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
}

/* mdl : layout */
#mdl {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    color: var(--white);
    max-height: 100vh;

}
#mdl .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
    
    align-items: flex-start;
}
#mdl .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
}
#mdl .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 1;
}
/* mdl : form */
#mdl form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    /* dev */
    border: var(--debugging);
}
#mdl label {
    padding-bottom: var(--sm);
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#mdl input {
    margin-bottom: 10px;
    padding-left: var(--sm);
    transition: all 500ms ease;
    position: relative;
    min-height: 40px;
    width: 100%;
}
#mdl input:focus {
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    transition: all 300ms ease-out;
}
#mdl h3 {
    color: var(--white);
}
/* edt : layout */
#edt {
    /* dev */
    border: var(--wireframe);
}
#edt .elmnts {
    border: var(--debugging);
}
#edt .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
}
#edt .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
}
#edt .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 1;
}

/* tml : layout */
#tml {
    /* dev */
    border: var(--wireframe);
}
#tml .elmnts {
    border: var(--debugging);
}
#tml .elmnts:nth-child(1) {
    grid-column: span 6;
    grid-row: span 1;
}
#tml .elmnts:nth-child(2) {
    grid-column: span 6;
    grid-row: span 1;
}
#tml .elmnts:nth-child(3) {
    grid-column: span 6;
    grid-row: span 1;
}

/* buttons */
nav button {
    background: transparent;
    width: 100%;
    padding: var(--sm);
    font-size: var(--txt-sm);

    /* dev */
    border: 3px solid var(--black);
}
nav li button {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
}

#abo button {
    background: var(--main);
    border: none;
    color: var(--white);
    font-size: var(--txt-sm);
    font-weight: bold;
    letter-spacing: 4px;
    
    min-height: 22px;
    padding: var(--sm);
    width: 60%;
}
#mdl #btn_ext {
    background: transparent;
    border: 2px solid var(--white);
    padding: var(--sm);
    margin-bottom: var(--md);
    width: 100%;
}
#mdl #btn_ext i {
    color: var(--white);
    font-size: var(--txt-sm);
}
#mdl button {
    background: var(--main);
    border: none;
    color: var(--white);
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: var(--sm);
    text-transform: capitalize;
    min-height: 30px;
    width: 100%;
}

/* media : desktop */
@media (min-width: 960px) {}